:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    margin: 8px 0;
}

p {
    margin: 0;
}

.head-text {
    text-align: center;
    background-color: #125699;
    color: white;
    padding: 10px;
}

#infinite-scroller {
    /* height: 500px;
    width: 700px; */
    border: 1px solid #f5ad7c;
    overflow: scroll;
    padding: 0;
    list-style: none;
}

.badge {
    cursor: pointer;
}